*,*::after,*::before {
    box-sizing: border-box;
}

:root {
    --room-border: 6px solid black;
    --back-color1: #0976aa;
    --back-color2: #2ae991;
    --card-shadow: 1px 1px 2px 1px black;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: var(--back-color1)
}

.all-school-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 92vh;
    width: 90vw;
    background-color: var(--back-color2);
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px black;
}
.rooms-container {
    position: relative;
}
.rooms-grid {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
}
.room-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--room-border)
}
.mover-grid {
    position: absolute;
    top: 22%;
    left: 9vw;
    width: 72vw;
    height: 75vh;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 1fr 0.8fr 1fr 0.8fr 1fr 1fr;
}
.mover-grid:nth-child(8),
.mover-grid:nth-child(9),
.mover-grid:nth-child(10),
.mover-grid:nth-child(11),
.mover-grid:nth-child(12),
.mover-grid:nth-child(13),
.mover-grid:nth-child(14) {
    height: 5vh;
}
.mover-box {
    display: flex;
    justify-content: center;
    align-items: center;
}


.middle-dot {
    position: absolute;
    height: 2vh;
    width: 2vh;
    bottom: -12%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: blue;
}
.corner-dot {
    position: absolute;
    height: 2vh;
    width: 2vh;
    bottom: -12%;
    right: -6%;
    transform: translate(-50%,-50%);
    background-color: blue;
    z-index: 3;
}
.room-box:nth-child(1),
.room-box:nth-child(2),
.room-box:nth-child(3),
.room-box:nth-child(5),
.room-box:nth-child(6),
.room-box:nth-child(7),
.room-box:nth-child(9),
.room-box:nth-child(10),
.room-box:nth-child(11) {
    border-right: var(--room-border)
}
.room-box:nth-child(4) .corner-dot,
.room-box:nth-child(8) .corner-dot,
.room-box:nth-child(12) .corner-dot {
    background-color: transparent;
}
.rooms-grid img {
    margin-top: 5px;
    height: 100%;
    max-height: 20vh;
    max-width: 20vw;
}
.lower-container {
    width: 100%;
    height: 20%;
    display: flex;
}
.entrance-container {
    width: 50%;
    border-right: var(--room-border);
}
.entrance {
    display: flex;
    justify-content: right;
    align-items: center;
}
.entrance img {
    height: 100%;
    max-height: 20vh;
    max-width: 20vw;
}
.lower-right-container {
    width: 50%;
    display: flex;
    justify-content: right;    
}
.game-mode-button-container {
    height: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}
.mode {
    height: 40%;
    width: 80%;
    border-radius: 10px;
    box-shadow: var(--card-shadow);
    background-color: var(--back-color1);
    color: white; 
}
.toggleon {
    background-color: yellow;
    color: black;
}

.flipper {
    position: relative;
    z-index: 10;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.flipper-front img {
    box-shadow: var(--card-shadow);
}

.flipper-front .secret-mode {
    background-color: var(--back-color1);
    height: 100%;
    width: 90%;
    max-height: 20vh;
    max-width: 20vw;
}

.flipper-back {
    position: absolute;
    background-color:  var(--back-color1);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 90%;
    max-height: 20vh;
    max-width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flipper-front, .flipper-back {
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.flipper-back {
    box-shadow: var(--card-shadow);
    transform: translate(-50%,-50%) rotatex(180deg);
}
.secret-mode {
    background-color: var(--back-color2);
    box-shadow: none;
}

.mover {
    height: 100%;
    max-height: 18vh;
    z-index: 10;
}

.west {
    transform: rotate(-90deg);
}
.east {
    transform: rotate(90deg);
}
.north {
    transform: rotate(0deg);
}
.south {
    transform: rotate(180deg);
}

.highlight {
    box-shadow: 0 0 12px 20px gold;
    transition: all 0.3s linear;
}